@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
   display: flex;
   font-family: 'Nunito', sans-serif;
   font-size: 12px;
   font-weight: lighter;
   flex-direction: column;
   align-items: center;
   background: #232426;
   color:#f5f9ff;
}
.display-none{
  display:none;
}
/*SPLASH BUTTON*/
#splashbtn{
  position:absolute;
  top: 37%;
  background: transparent;
  color: inherit;
  border: 1px solid #f5f9ff;
  border-radius: 10px;
  font-family:inherit;
  font-weight: inherit;
  font-size: 18px;
  padding: 3px 70px;
  transition: 0.25s linear;
  z-index: 1;
  cursor:pointer;
}
#splashbtn:hover{
  font-size: 25px;
}
#splashbtn:active{
  font-size: 18px;
}
#splashbtn:focus{
  outline:0;
}
/*VISUALIZATION CONTAINER*/
.container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.bar{
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin: 0 5px;
}
.bar-hover-state{
  transition: 0.25s linear;
}
.bar-hover-state:hover{
  transform: scale(3.5);
}
/*CONTROLS CONTAINER*/
.controls{
  background: rgba(230, 234, 242,0.1);
  display:flex;
  flex-wrap: wrap; 
  visibility: hidden;
  align-items: center;
  padding: 5px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 1s ease-in;
}
.controls-label{
  position: absolute;
  top: 10px;
  font-size: 14px;
  cursor: pointer;
}
.controls-label:hover{
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}
.audio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  padding: 5px;
}
/*buttons*/
img{
  height: 23px;
  width: 23px;
  background: transparent;
  border: none;
  transition: 0.2s ease-in;
  cursor: pointer;
}
img:hover{
  transform: scale(1.3);
}
img:focus{
  outline:0;
}
/*audio progress bar*/
.progress-bar{
  position:relative;
  width: 220px;
  height: 11px;
  border-radius: 10px;
  background: white;
}
.progress-fill{
  height: inherit;
  border-radius: inherit;
  width: 0px;
}
/*volume control*/
.volume{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.slider{
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 11px;
  background: #070708;
  outline:0;
  border-radius: 10px;
  margin-left: 7px;
}
.slider:hover{
  opacity: 1;
}
.slider:focus{
  outline:0;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor:pointer;
  width: 12px;
  height: 12px;
  background: #f5f9ff;
  border-radius: 10px;
  transition: .2s ease-in;

}
.slider::-moz-range-thumb {
  cursor:pointer;
  width: 12px;
  height: 12px;
  background: #f5f9ff;
  border-radius: 50%;
}
.slider::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}
.slider::-moz-range-thumb:hover{
  transform: scale(1.3);
}
/*select mp3 and theme*/
.select{
  padding: 2px 0;
  width: 150px;
  color: #232426;
  background: #f5f9ff;
  font-size: 12px;
  border:none;
  display: inline-block;
  cursor: pointer;
}
.select:focus{
  outline:0;
}
p{
  display: inline;
  margin: 0 3px 0 25px;
}
